-e ..
djangorestframework>=3.16,<4.0
djangorestframework-simplejwt>=5.5.1,<6.0
django-cors-headers>=4.7,<5.0
django-filter>=25.1,<26.0
django-environ>=0.12,<0.13
psycopg[binary]>=3.2,<4.0
pycountry>=24.6,<27.0
django-redis>=5.4,<6.0
django-extra-views>=0.13,<0.17
django-haystack>=3.0b1
django-treebeard>=4.7.0
Babel>=1.0,<3.0
purl>=0.7
phonenumbers
django-phonenumber-field>=4.0.0,<9.0.0
django-tables2>=2.3,<=2.7
django-widget-tweaks>=1.4.1
sorl-thumbnail>=12.10.0,<13.0.0
easy-thumbnails>=2.9,<2.11
whitenoise>=6.7.0,<6.12
Whoosh>=2.7,<2.8
gunicorn>=23,<24
